# Virtual environment
.venv/

# Uploads & generated media
uploads/
static/uploads/
*.mp4
*.avi
*.mov

# Generated images
crops/
*.jpg
*.png

# Generated text files
timestamps*.txt

# Logs & cache
__pycache__/
*.log

# OS files
.DS_Store
Thumbs.db
